@import "tailwindcss";

@font-face {
    font-family: NotoSans;
    src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
    format: ("truetype-variations");
    font-display: swap;
    font-weight: 100 900;
}

@theme {
    --color-neutral-900: hsl(227, 75%, 14%);
    --color-neutral-800: hsl(226, 25%, 17%);
    --color-neutral-700: hsl(225, 23%, 24%);
    --color-neutral-600: hsl(226, 11%, 37%);
    --color-neutral-300: hsl(0, 0%, 78%);
    --color-neutral-200: hsl(217, 61%, 90%);
    --color-neutral-100: hsl(0, 0%, 93%);
    --color-neutral-0: hsl(200, 60%, 99%);
    --color-red-400: hsl(3, 86%, 64%);
    --color-red-500: hsl(3, 71%, 56%);
    --color-red-700: hsl(3, 77%, 44%);
    --font-noto: "NotoSans", "system-ui", "sans-serif";
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: 1200px;
}

/* utility classes */

.text-preset-1 {
    font-size: 2.125rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -1px;
}

.text-preset-2 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.2px;
}

.text-preset-3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.3px;
}

.text-preset-4 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.5px;
}

.text-preset-5 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.5px;
}

.text-preset-6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.5px;
}